<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @wines.each do |wine| %>
<p>
    <strong>Name:</strong>
    <%= wine.name %>
</p>

<p>
    <strong>Strains:</strong>
    <%= wine.strains.order(:name).map(&:name).join(', ') %>
</p>

<% end %>